{% extends "admin/base_site.html" %}
{% load i18n l10n static %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
		&rsaquo; <a href="{% url 'admin:app_list' app_label="powerdns_manager" %}">{% trans "PowerDNS Manager" %}</a>
        &rsaquo; <a href="{% url 'admin:powerdns_manager_domain_changelist' %}">{% trans "Zone list" %}</a>
        {% if id_list|length == 1 %}
            &rsaquo; <a href="{% url 'admin:powerdns_manager_domain_change' id_list|first %}">{% trans "Zone change form" %}</a>
        {% endif %}
		&rsaquo; {% trans 'Transfer zone to another user' %}
	</div>
{% endblock %}

{% block title %}{% trans 'Transfer zone to another user' %}{% endblock %}

{% block content %}
    <div id="content-main">
        
        <form action="" method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}

            <h1>{% trans 'Transfer zone' %}</h1>
            <p>{% trans "Enter the username of the account to which the zone will be transferred." %}</p>
            
            <fieldset class="module aligned">
    
                <div class="form-row">
                    {{ form.transfer_to_username.errors }}
                    <label for="id_transfer_to_username" class="">{% trans 'Username' %}:</label>{{ form.transfer_to_username }}
                </div>

            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="{% trans 'Transfer' %}" class="default" />
            </div>

            <script type="text/javascript">document.getElementById("id_transfer_to_username").focus();</script>
        </div>
        </form>

    </div> <!-- content-main -->
{% endblock %}