{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% if save_on_top %}
    {% block submit_buttons_top %}
        <div class="domain-tools-row">
            <input type="submit" value="{% trans 'Transfer zone' %}" name="_transfer" />
            <input type="submit" value="{% trans 'Clone zone' %}" name="_clone" />
            <input type="submit" value="{% trans 'Set RR TTL' %}" name="_set_rr_ttl" />
            <input type="submit" value="{% trans 'Reset API Key' %}" name="_reset_api_key" />
        </div>
        {% submit_row %}
    {% endblock %}
{% endif %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
