{% extends "admin/base_site.html" %}
{% load i18n l10n static %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
		&rsaquo; <a href="{% url 'admin:app_list' app_label="powerdns_manager" %}">{% trans "PowerDNS Manager" %}</a>
		&rsaquo; <a href="{% url 'admin:powerdns_manager_zonetemplate_changelist' %}">{% trans "Template list" %}</a>
		&rsaquo; <a href="{% url 'admin:powerdns_manager_zonetemplate_change' template_id %}">{% trans "Template change form" %}</a>
		&rsaquo; {% trans 'Create zone from template' %}
	</div>
{% endblock %}

{% block title %}{% trans 'Set zone origin' %}{% endblock %}

{% block content %}
    <div id="content-main">
        
        <form action="" method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}

            <h1>{% trans 'Set zone origin' %}</h1>
            <p>{% trans "Enter the origin of the new zone." %}</p>
            
            <fieldset class="module aligned">
    
                <div class="form-row">
                    {{ form.origin.errors }}
                    <label for="id_origin" class="">{% trans 'Zone origin' %}:</label>{{ form.origin }}
                </div>

            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="{% trans 'Create' %}" class="default" />
            </div>

            <script type="text/javascript">document.getElementById("id_origin").focus();</script>
        </div>
        </form>

    </div> <!-- content-main -->
{% endblock %}